.heading{
    background: #F2B821;
    text-align: center;
    padding: 42px 33% 59px 33%;
}

.heading h1{
    font-weight: 700;
    font-size: 75px;
    color: #2E2C2C;
}

.contact__options a {
    color: black;
}

.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 30%;
    padding-left: 250px;
    padding-top: 146px;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 20px;
}

.contact__option{
    background: #F2B821;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
    color: #2E2C2C;
}

.contact-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    color: #2E2C2C;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 1px solid #F2B821;
    resize: none;
    color: #F2B821;
}

.contact__container button{
    width: 200px;
    height: 60px;
    background-color: #F2B821;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}